<!DOCTYPE html>
<html lang="es" id="payments">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google-site-verification" content="">

    <title>Botlers: Ventas automáticas vía Facebook Messenger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Un kit de ventas con inteligencia artificial. Desde cupcakes hasta cursos de francés, Botlers ayuda a los negocios a vender automáticamente haciendo uso de la inteligencia artificial.">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon/180x180.png">
    <link rel="icon" href="apple-touch-icon/180x180.png">
    <meta property="og:title" content="Botlers: Payments">
    <meta property="og:url" content="https://botlers.io/">
    <meta property="og:description" content="Un kit de ventas con inteligencia artificial. Desde cupcakes hasta cursos de francés, Botlers ayuda a los negocios a vender automáticamente haciendo uso de la inteligencia artificial.">
    <meta property="og:image" content="social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="social.png">
    <meta name="twitter:site" content="@somosbotlers">
    <meta name="twitter:title" content="Botlers: Payments">
    <meta name="google-site-verification" content="3dNXk3qnhI4_Q7xB95ygKE6jFA6b6wb4Aq0JheKKYtI" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PXWW6FP');</script>
    <!-- End Google Tag Manager -->
    <meta name="twitter:description" content="Un kit de ventas con inteligencia artificial. Desde cupcakes hasta cursos de francés, Botlers ayuda a los negocios a vender automáticamente haciendo uso de la inteligencia artificial.">
    <script async="" src="./Nerds_Botlers__files/analytics.js"></script><script type="application/json" id="strut_files">{&quot;v3/shared/navigation_ie10.css&quot;:&quot;/assets/v3/shared/navigation_ie10-e01e5bea41add6270b67348b4d0e5ea2.css&quot;}</script>
  <link rel="stylesheet" href="./Nerds_Botlers__files/default-b566dce28ebbc5dd249dad9be586554c.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.4.2/css/iziModal.min.css">

  <link rel="stylesheet" href="./Nerds_Botlers__files/index-96cbeb8a572a01fdc7afc2faff292cd6.css">
  <script defer="" src="./Nerds_Botlers__files/default-239cfcaeccf937c2b3e45332484b4a60.js"></script>
  <script defer="" src="./Nerds_Botlers__files/index-7f485ed753d7d8c17d8c206d5aedea78.js"></script>
  <script type="application/json" id="strut_files">{&quot;v3/shared/navigation_ie10.css&quot;:&quot;/assets/v3/shared/navigation_ie10-e01e5bea41add6270b67348b4d0e5ea2.css&quot;}</script>
  <link rel="stylesheet" href="./Botlers_files/default-b566dce28ebbc5dd249dad9be586554c.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="./Botlers_files/index-2f54e26d843b9048927f607a7ab9274f.css">
  <link rel="stylesheet" href="./Botlers_files/botlers-sh2r0nf10r35.css">

<script defer="" src="./Botlers_files/index-47ee89c730675976f2e44b9e77bf7cda.js"></script>
  <style>
  .devices-header .tablet .screen {
    margin-left: 90px;
    width: 420px;
    height: 620px;
    box-shadow: 2px 2px 8px rgba(107,124,147,.5);
  }

      .devices-header .phone .screen {
          margin-left: 40px;
          box-shadow: 10px 10px 4px rgba(50,50,93,.25);
}

  .section-introduction {
    margin: 20px 0 80px;
  }

@media (min-width: 670px) {
    .stripes-header {
        bottom: -197px;
        }
}

.stripes-header .s1 {

    bottom: -30px;

}

.globalNav .item-home h1 {
    font-size: 30px;
}

.stripes-developers {

    background: #004295;

}

      .StripeBackground {

          transform: skewY(0deg);

      }

      .section-checkout {
        background: rgba(0,0,0,.1)
      }

      @media (min-width: 670px) {
.group-business {
    background: aliceblue;
}
      }

      body {
          background: white;
      }

      .section-worldwide {
          background: #eef2f7;
      }

        section.simplify .manual-review .review-queue .charge .risk-icon{
            height: initial;
        }

        section.simplify .manual-review .review-queue .charge .detail p{
            margin-top:-7px;
        }

        section.simplify .manual-review .review-queue .charge .button.refund {
            background-color: white;
        }

        section.simplify .manual-review .review-queue .charge .button.accept {
            background-color: white;
        }

        section.simplify .manual-review .review-queue .charge .button:after {
            background-color: white;

        }

        section.simplify .manual-review .copy {
            display: none;
        }

        section.simplify .manual-review .review-queue {
            flex-basis: inherit;
            max-width: 1270px;
        }

        @media (min-width: 880px){
                section.simplify .manual-review .review-queue {
                flex-basis: inherit;
            }
        }

        @media (min-width: 880px) {
            section.simplify .manual-review .copy { display: none } }

        section.simplify .manual-review .review-queue .charge .detail h3 {
            margin-left: 10px;
        }

        section.simplify .manual-review .review-queue .charge .detail p {
            margin-left: 10px;
        }

        section.simplify .manual-review .review-queue .charge .button.click:after {
            /* animation: inherit; */
        }

        section.simplify .manual-review .review-queue .charge .button.accept {
             background-color: transparent;
        }

        section.simplify .manual-review .review-queue .charge .detail h3 {
            white-space: pre-line;
        }

        @media (min-width: 880px) {
            .angle-clip-container{
                margin-top: 0px;
            }
        }

        @media (min-width: 670px) {
            .section-worldwide {
                padding: 40px 0;
            }
        }

        @media (min-width: 670px) {
            section.simplify  {
                padding-top: 0px;
            }
        }

        section.simplify {
            padding-top: 12px;
        }

        .business-header .section-header {
            max-width: inherit;
        }

        @media (min-width: 880px) {
            .developers-content {
                flex-basis: inherit;
            }
        }

      .common-Link {
          color: #006eb9;
      }

      .section-worldwide .section-header h2 {

          color: #004295;
      }

      .common-Button--default {

          background: #004295;
      }

      .common-Button:hover {

          color: #006eb9;
      }

      .common-Button {

          color: ;
      }

      @media (min-width: 880px) {
    .worldwide-columns {
          margin-top:0px;
      }
    }
      @media (min-width: 880px){
.developers-content {
      padding: 260px 60px 60px 0;
          }
      }

      @media (min-width: 670px){
          .section-otherways{
              padding: 60px 0 100px;
          }
      }

      .checkout-graphic .back{

          transform: inherit;
      }

      @media (min-width: 670px) {
          section.simplify .manual-review {
            margin-top: 0px;
          }
      }

    </style>

    <link href="https://fonts.googleapis.com/css?family=Sacramento&effect=neon" rel="stylesheet">

    <% include analytics.ejs %>
  </head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXWW6FP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header style="background:initial" class="globalNav noDropdownTransition">

  <div class="container-lg">
    <ul class="navRoot">

      <li class="navSection logo">
        <a class="rootLink item-home colorize" href="https://botlers.io/">
            <h1 style="text-shadows:1px 1px 16px #32325d">
            <!-- Botlers -->
                <img id="logo_header" src="botlers_logo.svg">
            </h1></a>
      </li>

      <li class="navSection primary">
         <a class="rootLink item-products hasDropdown colorize" data-dropdown="products">
          ¿Qué es Botlers?
        </a>
        <!-- <a class="rootLink item-developers colorize" data-dropdown="developers"> -->
        <a data-analytics-action="developers" data-analytics-source="global_nav" class="rootLink item-pricing colorize" href="#como-funciona">
          ¿Cómo funciona?
        </a>
      <!--  <a class="rootLink item-company colorize" data-analytics-action="company" data-analytics-source="global_nav"> -->
        <a data-analytics-action="company" data-analytics-source="global_nav" class="rootLink item-pricing colorize" href="#prueba">
          Pruébalo
        </a>
          <a data-analytics-action="pricing" data-analytics-source="global_nav" class="rootLink item-pricing colorize" href="#caso-de-exito">
           Caso de éxito
          </a>
      </li>

      <li class="navSection secondary">
        <a class="rootLink item-dashboard colorize" data-adroll-segment="submit_two" href="#modal" data-analytics-source="global_nav" data-analytics-action="sign_in">
            Contacto
        </a>
      </li>

      <li class="navSection mobile">
        <a class="rootLink item-mobileMenu colorize"><h2>Menu</h2></a>
        <div class="popup">
          <div class="popupContainer">
            <a class="popupCloseButton">Close</a>
            <div class="mobileProducts">
              <h4>BIENVENIDO A Botlers</h4>
              <div class="mobileProductsList">
                <ul>
                  <li>
                    <a class="linkContainer item-payments" href="https://botlers.io/payments" data-analytics-action="payments" data-analytics-source="mobile_nav">
                       Botlers
                    </a>
                  </li>
                  <li>
                    <a class="linkContainer item-subscriptions" href="https://botlers.io/subscriptions" data-analytics-action="subscriptions" data-analytics-source="mobile_nav">
                      <svg viewBox="0 0 48 48"><path fill="#74E4A2" class="hover-fillLight" d="M24 0c13.255 0 24 10.745 24 24S37.255 48 24 48 0 37.255 0 24 10.745 0 24 0z"></path><path fill="#FFF" d="M39.558 30.977c-6.23 6.225-16.304 6.194-22.535-.03l13.975-13.962c-6.232-6.224-16.335-6.224-22.567 0-4.043 4.04-5.456 9.712-4.247 14.896l-.654.174a21.89 21.89 0 0 1-1.536-8.61c.284-11.806 10.003-21.35 21.823-21.446 6.15-.05 11.72 2.42 15.744 6.438 6.23 6.226 6.23 16.318 0 22.542z"></path><path fill="#159570" class="hover-fillDark" d="M33.653 21.413c1.43 5.336-1.735 10.82-7.068 12.25-5.332 1.43-10.814-1.736-12.242-7.072-1.43-5.334 1.735-10.82 7.068-12.25 5.334-1.43 10.815 1.738 12.244 7.074z"></path></svg>¿Qué hacemos?
                    </a>
                  </li>
                  <li>
                    <a class="linkContainer item-connect" href="https://botlers.io/connect" data-analytics-action="connect" data-analytics-source="mobile_nav">
                      <svg viewBox="0 0 48 48"><path fill="#68D4F8" class="hover-fillLight" d="M48 24c0 13.255-10.745 24-24 24S0 37.255 0 24 10.745 0 24 0c1.363 0 2.698.12 4 .338V15h5v5h14.662c.218 1.302.338 2.637.338 4z"></path><path fill="#FFF" d="M16.99 29.966L17 17l-5.55-.006a1.02 1.02 0 0 0-.725.3L2.65 25.446a1.55 1.55 0 0 0-.44 1.28c1.22 9.944 9.1 17.825 19.042 19.047.472.058.945-.104 1.28-.44l8.172-8.076c.192-.193.3-.453.3-.725L31 31l-12.985-.01a1.023 1.023 0 0 1-1.024-1.024z"></path><path fill="#217AB7" class="hover-fillDark" d="M47.697 20.195L37.194 30.702a1.03 1.03 0 0 1-.726.3h-5.462V18.03c0-.567-.46-1.025-1.025-1.025H16.994V11.52c0-.274.108-.534.3-.726L27.783.3C38 1.916 46.07 9.98 47.698 20.194z"></path></svg>¿Cómo funciona?
                    </a>
                  </li>
                </ul>
                <ul>
                  <li>
                    <a class="linkContainer item-relay" href="https://botlers.io/relay" data-analytics-action="relay" data-analytics-source="mobile_nav">
                      <svg viewBox="0 0 48 48"><path fill="#FFA27B" class="hover-fillLight" d="M24 0c13.255 0 24 10.745 24 24S37.255 48 24 48 0 37.255 0 24 10.745 0 24 0z"></path><path fill="#C23D4B" class="hover-fillDark" d="M24 12.5c8.285 0 15 6.828 15 15.25S32.285 43 24 43c-8.284 0-15-6.828-15-15.25S15.716 12.5 24 12.5z"></path><path fill="#FFF" d="M25 38.925v6.288a.787.787 0 0 1-.788.787h-.424a.787.787 0 0 1-.788-.788v-6.287c-3.668-.49-6.5-3.623-6.5-7.425a7.5 7.5 0 0 1 15 0c0 3.802-2.832 6.935-6.5 7.425z"></path></svg>Inteligencia Artificial
                    </a>
                  </li>
                  <li>
                    <a class="linkContainer item-atlas" href="https://botlers.io/atlas" data-analytics-action="atlas" data-analytics-source="mobile_nav">
                      <svg viewBox="0 0 48 48"><path fill="#FCD669" class="hover-fillLight" d="M24 0c13.255 0 24 10.745 24 24S37.255 48 24 48 0 37.255 0 24 10.745 0 24 0z"></path><path fill="#CE7C3A" class="hover-fillDark" d="M24.012 1.834c.366.005.73.196.92.575l16.825 33.72c.396.79-.314 1.685-1.175 1.48L24 33.626V1.834h.01z"></path><path fill="#FFF" d="M24 1.834v31.794l-16.584 3.98A1.043 1.043 0 0 1 6.24 36.13L23.067 2.41c.195-.39.572-.58.947-.576H24z"></path></svg>Pruébalo
                    </a>
                  </li>
                  <li>
                    <a class="linkContainer item-radar" href="https://botlers.io/radar" data-analytics-action="radar" data-analytics-source="mobile_nav">
                      <svg viewBox="0 0 48 48"><path class="hover-fillLight" fill="#F6A4EB" d="M41.364 21.886h6.538c.06.697.098 1.4.098 2.114 0 13.255-10.745 24-24 24S0 37.255 0 24 10.745 0 24 0c6.833 0 12.993 2.86 17.364 7.442v14.444z"></path><path fill="#FFF" d="M37.746 37.4a1.3 1.3 0 0 1 .92-.38c.72 0 1.303.444 1.303 1.163 0 .503-.353.982-.708 1.292-3.484 3.122-8.325 5.53-13.783 5.53-11.75 0-19.486-9.538-19.486-18.83 0-8.72 7.195-16.19 15.25-16.19s11.227 5.54 11.227 5.54L37.747 37.4z"></path><path class="hover-fillDark" fill="#9251AC" d="M47.995 24zm0 0c0-.995-.807-1.974-1.802-1.974-1.15 0-1.8.94-1.8 1.83-.09 3.174-1.228 7.127-3.453 10.182-2.355 3.232-6.91 6.956-13.242 6.956-7.625 0-13.213-5.767-13.213-11.925 0-4.3 2.886-7.17 5.828-7.17 1.588 0 2.48.683 2.965 1.312.362.468 1.063.493 1.482.074L40.968 7.032A23.926 23.926 0 0 1 47.995 24z"></path></svg>Solicitar Demo
                      <span class="new-badge">Exclusivo</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="mobileSecondaryNav">
              <ul>
                <li>
                  <a class="item-pricing" href="https://botlers.io/pricing" data-analytics-action="pricing" data-analytics-source="mobile_nav">
                    Comisiones
                  </a>
                </li>
                  <li>
                    <a class="item-workswith" href="https://botlers.io/works-with" data-analytics-action="works-with" data-analytics-source="mobile_nav">
                      ¿Cómo iniciar?
                    </a>
                  </li>
                <li>
                  <a class="item-gallery" href="https://botlers.io/customers" data-analytics-action="customers" data-analytics-source="mobile_nav">
                    Preguntas Frecuentes
                  </a>
                </li>
                <li>
                  <a class="item-documentation" href="https://botlers.io/docs" data-analytics-source="mobile_nav" data-analytics-action="documentation">
                    PYMEs
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a class="item-about" href="https://botlers.io/about" data-analytics-source="mobile_nav" data-analytics-action="about">
                    Acerca de
                  </a>
                </li>
                <li>
                  <a class="item-jobs" href="https://nerds.ai" data-analytics-source="mobile_nav" data-analytics-action="jobs">
                    Bolsa de Trabajo
                  </a>
                </li>
                <li>
                  <a class="item-blog" href="https://nerds.ai" data-analytics-source="mobile_nav" data-analytics-action="blog">
                    Blog
                  </a>
                </li>
              </ul>
            </div>
            <a class="mobileSignIn" data-adroll-segment="submit_two" href="https://dashboard.botlers.io/login" data-analytics-source="mobile_nav" data-analytics-action="sign_in">
                Inicia Sesión
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>



  <div class="dropdownRoot">
    <div class="dropdownBackground" style="transform: translateX(171px) scaleX(1.32692) scaleY(1.0975);">
      <div class="alternateBackground" style="transform: translateY(319.818px);"></div>
    </div>
    <div class="dropdownArrow" style="transform: translateX(516px) rotate(45deg);"></div>
    <div class="dropdownContainer" style="transform: translateX(171px); width: 690px; height: 439px;">

      <div class="dropdownSection active" data-dropdown="products">
        <div style="background-color:rgba(255,255,255,1)" class="dropdownContent">

           <div class="linkGroup documentationGroup">
            <a class="linkContainer withIcon item-documentation" href="https://botlers.io/docs" data-analytics-action="documentation" data-analytics-source="nav_dropdown">
              <h3 style="color:rgb(0, 106, 182)" class="linkTitle linkIcon"><svg width="17" height="17"><path fill="#87BBFD" class="hover-fillLight" d="M.945 1.998h3.632C6.744 1.998 8.5 3.005 8.5 4.83v11.583c-.512 0-1.015-.337-1.33-.59-1.03-.828-3.057-.828-5.222-.828H.945A.944.944 0 0 1 0 14.052V2.944C0 2.422.423 2 .945 2z"></path><path fill="#6772E5" class="hover-fillDark" d="M16.055 1.998h-3.632C10.257 1.998 8.5 3.005 8.5 4.83v11.583c.512 0 1.015-.337 1.33-.59 1.03-.828 3.057-.828 5.222-.828h1.003A.944.944 0 0 0 17 14.05V2.945A.944.944 0 0 0 16.055 2z"></path></svg>Bienvenido a Botlers</h3>
              <span class="linkSub">Botlers es tu vendedor virtual con inteligencia artificial.</span>
            </a>
            <div class="documentationArticles">
              <ul>
                <li><h4>Arráncate</h4></li>
                <li>
                  <a href="#como-funciona" data-analytics-action="docs_elements" data-analytics-source="nav_dropdown">
                    ¿Cómo funciona?
                  </a>
                </li>
                <li>
                  <a href="#prueba" data-analytics-action="docs_checkout_tutorial" data-analytics-source="nav_dropdown">
                    Pruébalo
                  </a>
                </li>
                <li>
                  <a href="#caso-de-exito" data-analytics-action="docs_mobile" data-analytics-source="nav_dropdown">
                    Caso de Éxito
                  </a>
                </li>
                <li>
                  <a href="#modal" data-analytics-action="docs_libraries" data-analytics-source="nav_dropdown">
                    Empieza ahora
                  </a>
                </li>
              </ul>

              <ul>

                <li><h4>Extras</h4></li>
                <li>
                  <a href="http://www.mitec.com.mx/mit/index.htm" data-analytics-action="docs_testing" data-analytics-source="nav_dropdown">
                    MITec
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/somosbotlers" data-analytics-action="docs_launch_checklist" data-analytics-source="nav_dropdown">
                    Twitter
                  </a>
                </li>
                <li>
                  <a href="" data-analytics-action="docs_plugins" data-analytics-source="nav_dropdown">
                    Facebook
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <ul class="linkGroup linkList prodsubGroup">
              <li>
                <a class="linkContainer item-workswith" href="#modal" data-analytics-action="works-with" data-analytics-source="nav_dropdown">
                  <h3 class="linkTitle linkIcon"><svg width="17" height="17"><path class="hover-fillLight" fill="#87BBFD" d="M15.998 12.495a1.03 1.03 0 0 1-.595.908L8.93 16.395a1.018 1.018 0 0 1-.86 0l-6.473-2.992a1.03 1.03 0 0 1-.594-.908V4.51c.006-.2.07-.39.18-.55L8.5 7.338l7.32-3.38c.108.16.172.35.178.55v7.984z"></path><path class="hover-fillDark" fill="#6772E5" d="M15.998 12.495a1.03 1.03 0 0 1-.595.908L8.93 16.395a1.026 1.026 0 0 1-.43.095V7.34l7.32-3.38c.11.16.173.35.18.55v7.984z"></path><path class="hover-fillLight" fill="#87BBFD" d="M8.5 5C6.567 5 5 4.228 5 3.275v-1.15h.098c.36.768 1.742 1.34 3.402 1.34 1.66.002 3.043-.572 3.402-1.34H12v1.15C12 4.228 10.433 5 8.5 5z"></path></svg>Solicitar una demostración</h3>
                </a>
              </li>
          </ul>

        </div>
      </div>

      <div class="dropdownSection right" data-dropdown="developers">
        <div class="dropdownContent">

        </div>
      </div>

      <div class="dropdownSection right" data-dropdown="company">
        <div class="dropdownContent">
        </div>
      </div>

    </div>
  </div>

</header>


    <div class="globalContent">

 <!--<header class="header" style="background-image: url('https://static.pexels.com/photos/271458/pexels-photo-271458.jpeg'); background-size:cover;">
<header class="header" style="background-image: url('https://static.pexels.com/photos/1593/food-bakery-chocolate-sweet.jpg'); background-size:cover;"> -->

<header class="header" style="background-image: url('cupcake-filtro-2.png'); background-size:cover;">


  <div class="StripeBackground accelerated stripes-header" style="transform:skewY(-357deg); top: 87%; background: radial-gradient(circle farthest-side at center bottom, #009cde, #003087 125%);">
    <div style="background:initial" class="stripe s0"></div>
    <div style="background: #004295;" class="stripe s1"></div>
    <div style="background:initial" class="stripe s2"></div>
    <div style="background:initial" class="stripe s3"></div>
    <div style="background:initial" class="stripe s4"></div>
    <div style="background:initial" class="stripe s5"></div>
    <div style="background:initial" class="stripe s6"></div>
  </div>

  <div class="container-lg">
    <div class="header-columns">
      <div class="header-content">
        <h1 style="display:none" class="common-ProductLockup">
        </h1>
        <h1 style="" class="common-SuperTitle">Haz que Facebook Messenger venda tus productos por tí.</h1>
        <p class="common-ButtonGroup">
          <a href="#como-funciona" class="common-Button common-Button--dark" data-analytics-action="explore_docs" data-analytics-source="header_cta">
            ¿Cómo funciona?
          </a>
          <a href="#" class="common-Button trigger" data-analytics-action="pricing" data-analytics-source="header_cta" s>
            Solicitar demo
          </a>
          <!-- Trigger to open Modal -->
          <!-- Modal structure -->
          <div id="modal" style="display: none">
              <div class="notify-box">
                <button class="notify-close">Close</button>
                <div class="notify-header ">
                  <img class="icon" src="./Nerds_Botlers__files/get-notified.svg">
                  <h3 class="common-BodyTitle" id="name-result">Se el primero en vender con nosotros</h3>
                  <p class="common-BodyText">Nos pondremos en contacto contigo</p>
                </div>

                <form class="notify-form" action="https://botlers.io/payments">
                  <div class="notify-input email">
                    <input class="email-field"  id="name-info" required="required" type="text" name="name" spellcheck="false" placeholder="Nombre">
                    <input class="email-field" id="phone-info" required="required" type="text" name="phone" spellcheck="false" placeholder="Teléfono">
                    <button class="submit-button" id="submit-info" type="submit">Enviar</button>
                  </div>
                </form>
                <div class="notify-success">
                  <img class="icon" src="./Nerds_Botlers__files/get-notified.svg">
                  <h3 class="common-BodyTitle">Thank you!</h3>
                  <p class="common-BodyText">We’ll reach out as soon as more payment types are&nbsp;ready.</p>
                </div>
              </div>

          </div>
        </p>
      </div>

      <div class="header-graphic">
        <figure class="devices-header loaded">
          <div class="ground">
            <div class="shadow"></div>
          </div>

          <div class="tablet">
            <div class="device"></div>
            <div class="controls"></div>
            <!-- <div class='test'></div> -->
            <div class="screen">
              <img src="phone-screen-e.svg">
            </div>
            <div class="shadow"></div>
          </div>

          <div class="phone">
            <div class="device"></div>
            <div class="controls"></div>
            <!-- <div class='test'></div> -->
            <div class="screen">
              <img src="phone-screen-c.svg">
            </div>
          </div>
        </figure>
      </div>

    </div>
  </div>
</header>

<div class="section-group group-primary">
  <section class="section-introduction" id="intro">
    <div class="container-lg">
      <header class="section-header">
        <p style="color:white" class="common-IntroText">Utiliza la plataforma de mensajería más popular del mundo para vender tus productos de forma automática y sin trámites complicados. ¡Pruébalo y aumenta tus ventas!.</p>
      </header>

      <ul class="xs-rows sm-cols">
        <li class="feature-block xs-icon-top">
          <figure class="icon">

              <svg class="svg-icon" viewBox="0 0 20 20">
							<path fill="#0071bb" d="M11.344,5.71c0-0.73,0.074-1.122,1.199-1.122h1.502V1.871h-2.404c-2.886,0-3.903,1.36-3.903,3.646v1.765h-1.8V10h1.8v8.128h3.601V10h2.403l0.32-2.718h-2.724L11.344,5.71z"></path>
				</svg>

              <!--
              <svg class="svg-icon" viewBox="0 0 20 20">
							<path fill="#0071bb" d="M18.21,16.157v-8.21c0-0.756-0.613-1.368-1.368-1.368h-1.368v1.368v1.368v6.841l-1.368,3.421h5.473L18.21,16.157z"></path>
							<path fill="#0071bb" d="M4.527,9.316V7.948V6.579H3.159c-0.756,0-1.368,0.613-1.368,1.368v8.21l-1.368,3.421h5.473l-1.368-3.421V9.316z"></path>
							<path fill="#0071bb" d="M14.766,5.895h0.023V5.21c0-2.644-2.145-4.788-4.789-4.788S5.211,2.566,5.211,5.21v0.685h0.023H14.766zM12.737,3.843c0.378,0,0.684,0.307,0.684,0.684s-0.306,0.684-0.684,0.684c-0.378,0-0.684-0.307-0.684-0.684S12.358,3.843,12.737,3.843z M10,1.448c0.755,0,1.368,0.613,1.368,1.368S10.755,4.185,10,4.185c-0.756,0-1.368-0.613-1.368-1.368S9.244,1.448,10,1.448z"></path>
							<path fill="#004295" d="M14.789,6.579H5.211v9.578l1.368,1.368h6.841l1.368-1.368V6.579z M12.052,12.052H7.948c-0.378,0-0.684-0.306-0.684-0.684c0-0.378,0.306-0.684,0.684-0.684h4.105c0.378,0,0.684,0.306,0.684,0.684C12.737,11.746,12.431,12.052,12.052,12.052z M12.052,9.316H7.948c-0.378,0-0.684-0.307-0.684-0.684s0.306-0.684,0.684-0.684h4.105c0.378,0,0.684,0.307,0.684,0.684S12.431,9.316,12.052,9.316z"></path>
						</svg> -->
              <!--
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><path fill="#87BBFD" d="M31.81 31H11a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h25a1 1 0 0 0 1-1v-1.806l5-2.446V39a3 3 0 0 1-3 3H8a3 3 0 0 1-3-3V8a3 3 0 0 1 3-3h31a3 3 0 0 1 3 3v14.767L31.81 31zM10 25a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v3zm27-13a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h25a1 1 0 0 0 1-1v-3zm0 10a1 1 0 0 0-1-1H26a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3z"></path><path fill="#6772E5" d="M34.956 32.365L46.1 21.205a3.06 3.06 0 0 0 0-4.318 3.043 3.043 0 0 0-4.31 0l-11.143 11.16a2.445 2.445 0 0 0-.64 1.133l-.98 3.925a.728.728 0 0 0 .88.884l3.918-.984a2.4 2.4 0 0 0 1.13-.642z"></path></svg>-->
            </figure>

          <h3 class="common-BodyTitle">Vende con Facebook Messenger®</h3>
          <p class="common-BodyText">Creamos una tecnología que se conecta al perfil de tu tienda en facebook para que de manera automática venda tus productos a través del chat. ¡Parece magia! </p>
          <p class="common-BodyText"><a class="common-Link common-Link--arrow" href="https://botlers.io/docs#try-now">Aprender más</a></p>
        </li>

        <li class="feature-block xs-icon-top">
          <figure class="icon">

              <svg class="svg-icon" viewBox="0 0 20 20">
							<path fill="#0071bb" d="M9.917,0.875c-5.086,0-9.208,4.123-9.208,9.208c0,5.086,4.123,9.208,9.208,9.208s9.208-4.122,9.208-9.208
								C19.125,4.998,15.003,0.875,9.917,0.875z M9.917,18.141c-4.451,0-8.058-3.607-8.058-8.058s3.607-8.057,8.058-8.057
								c4.449,0,8.057,3.607,8.057,8.057S14.366,18.141,9.917,18.141z M13.851,6.794l-5.373,5.372L5.984,9.672
								c-0.219-0.219-0.575-0.219-0.795,0c-0.219,0.22-0.219,0.575,0,0.794l2.823,2.823c0.02,0.028,0.031,0.059,0.055,0.083
								c0.113,0.113,0.263,0.166,0.411,0.162c0.148,0.004,0.298-0.049,0.411-0.162c0.024-0.024,0.036-0.055,0.055-0.083l5.701-5.7
								c0.219-0.219,0.219-0.575,0-0.794C14.425,6.575,14.069,6.575,13.851,6.794z"></path>
						</svg>

              <!--
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><path fill="#87BBFD" d="M36.5 21a9.5 9.5 0 0 1 0-19 9.5 9.5 0 0 1 0 19zm-25 24a9.5 9.5 0 0 1 0-19 9.5 9.5 0 0 1 0 19z"></path><path fill="#6772E5" d="M36.5 45a9.5 9.5 0 0 1 0-19 9.5 9.5 0 0 1 0 19zm4.138-14.062l-6.203 6.347-1.682-1.904c-.736-.633-1.893.107-1.367 1.06l1.997 3.385c.316.423 1.052.846 1.788 0 .317-.423 6.31-7.934 6.31-7.934.735-.845-.21-1.586-.84-.95zM35.17 15.824c-.735.846-1.47.423-1.787 0l-1.997-3.385c-.526-.955.63-1.695 1.367-1.06l1.682 1.904 6.203-6.347c.63-.635 1.577.106.84.952 0 0-5.992 7.51-6.307 7.932zM11.5 21a9.5 9.5 0 0 1 0-19 9.5 9.5 0 0 1 0 19zm4.137-14.062l-6.202 6.347-1.682-1.904c-.736-.633-1.893.107-1.367 1.06l1.997 3.384c.316.424 1.052.847 1.788 0 .317-.423 6.31-7.933 6.31-7.933.736-.845-.21-1.586-.842-.95zM7.753 35.38l1.682 1.905 6.202-6.347c.63-.634 1.578.106.84.952.002 0-5.99 7.51-6.306 7.934-.734.846-1.47.423-1.786 0L6.386 36.44c-.526-.953.63-1.694 1.367-1.06z"></path></svg> -->
            </figure>
          <h3 class="common-BodyTitle">Súper fácil de implementar</h3>
          <p class="common-BodyText">Hemos creado una sistema que te permitirá tener tu primer vendedor virtual de Facebook Messenger en 5 minutos. Sólo sube tus productos y en 1,2,3 estaremos vendiendo por tí.</p>
        </li>

        <li class="feature-block xs-icon-top">
          <figure class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><path fill="#004295" d="M31.006 20v-4.76a7.507 7.507 0 0 0-15.013 0V20H11v-4.5C11 8.597 16.596 3 23.5 3S36 8.597 36 15.5V20h-4.994z"></path><path fill="#0071bb" d="M20 30c0 1.48.805 2.77 2 3.46V37a2 2 0 0 0 2 2v6H10a4 4 0 0 1-4-4V24a4 4 0 0 1 4-4h14v6a4 4 0 0 0-4 4z"></path><path fill="#0071bb" d="M37 45H24v-6a2 2 0 0 0 2-2v-3.54A3.99 3.99 0 0 0 28 30a4 4 0 0 0-4-4v-6h13a4 4 0 0 1 4 4v17a4 4 0 0 1-4 4z"></path></svg></figure>
          <h3 class="common-BodyTitle">Seguro e Inteligente</h3>
          <p class="common-BodyText">Las ventas que realicemos por ti y las transacciones son muy importantes para nosotros. Por eso, hemos diseñado un sistema muy sofisticado de seguridad para no compremeter tu información ni la de tus clientes. </p>
        </li>
      </ul>

    </div>
  </section>

  <section class="section-worldwide" id="prueba">
    <div class="container-lg">
      <header class="section-header">
        <h2 class="common-UppercaseTitle">Prueba Botlers ¡Platica conmigo!</h2>
        <p class="common-IntroText">Puedes preguntarme por mi nombre, las cosas que puedo hacer y recomendaciones.</p>
      </header>
    </div>

    <% include chat.ejs %>

    <div class="container-xl worldwide-columns">

        <!--
      <div class="worldwide-aside">
        <div class="notify-box">
          <button class="notify-close">Close</button>
          <div class="notify-header ">
            <img class="icon" src="./Nerds_Botlers__files/get-notified.svg">
            <h3 class="common-BodyTitle">Entérate cuando estemos listos</h3>
            <p class="common-BodyText">We’re working to add many more payment types. Request the ones you need and we’ll reach out when they’re&nbsp;ready:</p>
          </div>

          <form class="notify-form" action="https://botlers.io/payments">
            <div class="notify-input methods">
              <p class="methods-dropdown">
                <span class="placeholder">
                    Sofort, SEPA Debit, Giropay, Bancontact, EPS, Konbini
                </span>
              </p>
              <div class="methods-list">
                <ul>
                  <li><label><input type="checkbox" name="payment_methods" value="bancontact">
                    Bancontact
                  </label></li>
                  <li><label><input type="checkbox" name="payment_methods" value="eps">
                    EPS
                  </label></li>
                  <li><label><input type="checkbox" name="payment_methods" value="giropay">
                    Giropay
                  </label></li>
                  <li><label><input type="checkbox" name="payment_methods" value="konbini">
                    Konbini
                  </label></li>
                  <li><label><input type="checkbox" name="payment_methods" value="multibanco">
                    Multibanco
                  </label></li>
                  <li><label><input type="checkbox" name="payment_methods" value="p24">
                    P24
                  </label></li>
                  <li><label><input type="checkbox" name="payment_methods" value="trustly">
                    Trustly
                  </label></li>
                  <li><label><input type="checkbox" name="payment_methods" value="sofort">
                    Sofort
                  </label></li>
                  <li><label><input type="checkbox" name="payment_methods" value="au-transfers">
                    Australia bank debits and transfers
                  </label></li>
                  <li><label><input type="checkbox" name="payment_methods" value="ca-transfers">
                    Canada bank debits and transfers
                  </label></li>
                  <li><label><input type="checkbox" name="payment_methods" value="sepa-credit-transfer">
                    SEPA credit transfers
                  </label></li>
                  <li><label><input type="checkbox" name="payment_methods" value="sepa-debit">
                    SEPA direct debit
                  </label></li>
                  <li><label><input type="checkbox" name="payment_methods" value="uk-transfers">
                    UK bank debits and transfers
                  </label></li>
                  <li><label><input type="checkbox" name="payment_methods" value="wire-transfers">
                    Wire transfers
                  </label></li>
                </ul>
                <p class="other"><input class="other-field" type="text" spellcheck="false" placeholder="Other" name="payment_methods"></p>
              </div>
            </div>
            <div class="notify-input email">
              <input class="email-field" required="required" type="email" name="email" spellcheck="false" placeholder="Email">
              <button class="submit-button" type="submit">Notifícame</button>
            </div>
            <p class="notify-error methods">Please select one more more payment methods you’d like to get notified about.</p>
            <p class="notify-error email">Please enter your email address.</p>
          </form>
          <div class="notify-success">
            <img class="icon" src="./Nerds_Botlers__files/get-notified.svg">
            <h3 class="common-BodyTitle">Thank you!</h3>
            <p class="common-BodyText">We’ll reach out as soon as more payment types are&nbsp;ready.</p>
          </div>
        </div>
      </div>
        -->

    </div>
  </section>

<!-------------------- asdasd asdasd asd asd asd ---->
<section class="section-worldwide" id="caso-de-exito">
    <div style="text-align:-webkit-center" class="container-lg">

     <h2 style="color:#0075bf" class="common-UppercaseTitle">VENDE POR FACEBOOK MESSENGER</h2>
     <h2 class="common-UppercaseTitle">Y aprende más sobre las ventas 'automáticas'.</h2>
    <h2 style="color:#aab7c4" class="common-UppercaseTitle">A continuación se presentan las conversaciones más comunes que el Bot de un negocio en Ciudad de México responde a menudo.</h2>

<div class="globalContent">
<main>
  <header style="display:none">
    <section style="display:none" class="intro container-lg">
      <div class="columns">
      </div>
      <aside class="icosahedron">
      </aside>
    </section>
  </header>

  <div class="angle-clip-container">
    <section style="display:none" class="techguide container-lg">
      <div class="common-Card columns">
        <aside class="chart">
          <div class="graph"></div>
          <div class="x-axis" style="padding: 0px 7px;">
            <div class="label min">0</div>
            <div class="label title">Score Distribution – P</div>
            <div class="label max">1</div>
          </div>
          <div class="effectiveness">
            <div class="label min">Effectiveness</div>
            <div class="slider">
              <div class="fill" style="transform: scaleX(1);"></div>
            </div>
          </div>
        </aside>
      </div>
    </section>

    <section class="simplify">
      <div class="manual-review">
          <div style="text-align:center">
              <p class="font-effect" style="font-family: 'Sacramento', cursive; font-size:60px; color:violet"> Cupcake Gallery </p>
          </div>
            <div style="text-align:center">
              <p class="" style="font-size:20px; color:grey"> <strong>Negocio:</strong> Venta de cupcakes a domicilio. <strong>Ubicación:</strong> Polanco, Ciudad de México. </p>
          </div>

        <div style="margin-top:40px" class="container-lg columns">
          <aside class="review-queue">
            <div class="charges"><div class="charge accepted"><div class="content"><div class="risk-icon"></div><div class="detail amount"><h3>$465.95</h3><br><p>2 days ago</p></div><div class="detail customer"><h3>Gautam Nangia</h3><br><p>Amount &gt; $400</p></div><div class="spacer"></div><div class="button refund"><svg width="17px" height="17px">
                <path d=""></path></svg></div><div class="button accept click"><svg width="17px" height="15px"><path d="M15.1.33L5 10.4 2.4 7.74C1.16 6.7-.68 7.88.24 9.37l3.21 4.88c.46.6 1.69 1.34 2.91 0 .46-.59 10.27-12.44 10.27-12.44C17.7.48 16.18-.56 15.1.33z"></path></svg></div></div></div><div class="charge accepted"><div class="content"><div class="risk-icon"></div><div class="detail amount"><h3>$33.56</h3><br><p>2 days ago</p></div><div class="detail customer"><h3>Lauren Dai</h3><br><p>Charge attempts &gt; 10</p></div><div class="spacer"></div><div class="button refund"><svg width="17px" height="17px"><path d="M10.82 4.75H5.25L7.42 2.6c.62-.6.62-1.53 0-2.14a1.5 1.5 0 0 0-2.17 0L.46 5.2c-.3.3-.46.61-.46 1.07 0 .46.15.77.46 1.07l4.8 4.75c.3.3.77.46 1.08.46.46 0 .77-.15 1.08-.46.62-.61.62-1.53 0-2.15L5.25 7.81h5.57c1.85 0 3.09 1.23 3.09 3.06 0 1.38-.46 3.07-3.1 3.07-.92 0-1.54.61-1.54 1.53S9.9 17 10.82 17c3.7 0 6.18-2.45 6.18-6.13a5.98 5.98 0 0 0-6.18-6.12z"></path></svg></div><div class="button accept click"><svg width="17px" height="15px"><path d="M15.1.33L5 10.4 2.4 7.74C1.16 6.7-.68 7.88.24 9.37l3.21 4.88c.46.6 1.69 1.34 2.91 0 .46-.59 10.27-12.44 10.27-12.44C17.7.48 16.18-.56 15.1.33z"></path></svg></div></div></div><div class="charge accepted"><div class="content"><div class="risk-icon"></div><div class="detail amount"><h3>$10.00</h3><br><p>2 days ago</p></div><div class="detail customer"><h3>Jeanne DeWitt</h3><br><p>Payment from India</p></div><div class="spacer"></div><div class="button refund"><svg width="17px" height="17px"><path d="M10.82 4.75H5.25L7.42 2.6c.62-.6.62-1.53 0-2.14a1.5 1.5 0 0 0-2.17 0L.46 5.2c-.3.3-.46.61-.46 1.07 0 .46.15.77.46 1.07l4.8 4.75c.3.3.77.46 1.08.46.46 0 .77-.15 1.08-.46.62-.61.62-1.53 0-2.15L5.25 7.81h5.57c1.85 0 3.09 1.23 3.09 3.06 0 1.38-.46 3.07-3.1 3.07-.92 0-1.54.61-1.54 1.53S9.9 17 10.82 17c3.7 0 6.18-2.45 6.18-6.13a5.98 5.98 0 0 0-6.18-6.12z"></path></svg></div><div class="button accept click"><svg width="17px" height="15px"><path d="M15.1.33L5 10.4 2.4 7.74C1.16 6.7-.68 7.88.24 9.37l3.21 4.88c.46.6 1.69 1.34 2.91 0 .46-.59 10.27-12.44 10.27-12.44C17.7.48 16.18-.56 15.1.33z"></path></svg></div></div></div><div class="charge"><div class="content"><div class="risk-icon"></div><div class="detail amount"><h3>$35.75</h3><br><p>3 days ago</p></div><div class="detail customer"><h3>Isaac Hepworth</h3><br><p>Prepaid card</p></div><div class="spacer"></div><div class="button refund"><svg width="17px" height="17px"><path d="M10.82 4.75H5.25L7.42 2.6c.62-.6.62-1.53 0-2.14a1.5 1.5 0 0 0-2.17 0L.46 5.2c-.3.3-.46.61-.46 1.07 0 .46.15.77.46 1.07l4.8 4.75c.3.3.77.46 1.08.46.46 0 .77-.15 1.08-.46.62-.61.62-1.53 0-2.15L5.25 7.81h5.57c1.85 0 3.09 1.23 3.09 3.06 0 1.38-.46 3.07-3.1 3.07-.92 0-1.54.61-1.54 1.53S9.9 17 10.82 17c3.7 0 6.18-2.45 6.18-6.13a5.98 5.98 0 0 0-6.18-6.12z"></path></svg></div><div class="button accept"><svg width="17px" height="15px"><path d="M15.1.33L5 10.4 2.4 7.74C1.16 6.7-.68 7.88.24 9.37l3.21 4.88c.46.6 1.69 1.34 2.91 0 .46-.59 10.27-12.44 10.27-12.44C17.7.48 16.18-.56 15.1.33z"></path></svg></div></div></div><div class="charge"><div class="content"><div class="risk-icon"></div><div class="detail amount"><h3>$583.95</h3><br><p>13 mins ago</p></div><div class="detail customer"><h3>Bill Labus</h3><br><p>Amount &gt; $400</p></div><div class="spacer"></div><div class="button refund"><svg width="17px" height="17px"><path d="M10.82 4.75H5.25L7.42 2.6c.62-.6.62-1.53 0-2.14a1.5 1.5 0 0 0-2.17 0L.46 5.2c-.3.3-.46.61-.46 1.07 0 .46.15.77.46 1.07l4.8 4.75c.3.3.77.46 1.08.46.46 0 .77-.15 1.08-.46.62-.61.62-1.53 0-2.15L5.25 7.81h5.57c1.85 0 3.09 1.23 3.09 3.06 0 1.38-.46 3.07-3.1 3.07-.92 0-1.54.61-1.54 1.53S9.9 17 10.82 17c3.7 0 6.18-2.45 6.18-6.13a5.98 5.98 0 0 0-6.18-6.12z"></path></svg></div><div class="button accept"><svg width="17px" height="15px"><path d="M15.1.33L5 10.4 2.4 7.74C1.16 6.7-.68 7.88.24 9.37l3.21 4.88c.46.6 1.69 1.34 2.91 0 .46-.59 10.27-12.44 10.27-12.44C17.7.48 16.18-.56 15.1.33z"></path></svg></div></div></div></div>
            <div class="mask top"></div>
            <div class="mask bottom"></div>
          </aside>

          <div class="copy">
            <h3 class="common-BodyTitle">Review flagged payments</h3>
            <p class="common-BodyText">By default, Radar helps pinpoint the most pertinent transactions for your teams to review so that they can focus on product and customer experiences instead. You can also customize payments to review with rules.</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section style="display:none" class="take-action container-lg">
    <div class="intro-copy">

    </div>
    <div class="columns">
      <div class="video-container collapsed">
        <div class="video">
          <video width="0%">
          </video>
          <div class="play"></div>
        </div>
      </div>
    </div>
</section>
</main>

<script type="application/json" id="animation-strings">
["Address Mismatch","Billing Address","Card Country","Card History","Cardholder Name","Card Issuer","Card Type","Customer History","Device ID","IP Address","Order Value","Shipping Address"]
</script>
</div>
<link type="text/css" rel="stylesheet" media="none" href="./Botlers_files/1.css">

    </div>
</section>
<!-------------------- asdasd asdasd asd asd asd ---->

</div>

<div class="common-InvertedText section-group group-developers">

  <div class="StripeBackground stripes-developers">
    <div class="stripe s1"></div>
    <div class="stripe s2"></div>
    <div class="stripe s3"></div>
  </div>

  <section style="background:#004295" class="section-developers" id="como-funciona">
    <div class="container-xl developers-columns">

      <div style="padding-top:80px" class="developers-content">

        <header class="section-header large">
          <h2 class="common-PageSubtitle">
            <figure class="icon"><svg class="svg-icon" viewBox="0 0 20 20">
							<path fill="#fff" d="M5.177,17.658c0,0,3.445,1.987,4.823,1.987c2.067,0,4.823-1.987,4.823-1.987c0.024-0.025,0.044-0.054,0.068-0.08H5.109C5.133,17.604,5.153,17.633,5.177,17.658z M8.622,1.583V0.531C6.496,0.973,2.539,2.521,1.376,7.933H0.699c-0.189,0-0.344,0.155-0.344,0.344v1.378C0.354,9.845,0.509,10,0.699,10h0.392c-0.016,0.224-0.026,0.454-0.033,0.689H0.699c-0.189,0-0.344,0.155-0.344,0.344v1.378c0,0.189,0.155,0.344,0.344,0.344h0.439c0.089,0.79,0.262,1.804,0.594,2.849v2.663H4.34c-2.233-2.449-2.264-6.822-2.264-7.01C2.077,4.052,6.353,2.108,8.622,1.583zM10.689,0.354H9.311v2.059h1.378V0.354z M11.378,2.63v0.472H8.622V2.63C6.612,3.147,3.11,4.951,3.11,11.258c0,0,0.004,3.373,1.47,5.632h4.042v-0.689h2.756v0.689h4.042c1.466-2.259,1.47-5.632,1.47-5.632C16.89,4.951,13.388,3.147,11.378,2.63z M5.005,12.035c-0.318-0.364-0.517-0.833-0.517-1.354S4.687,9.69,5.005,9.327V12.035zM6.383,10.026c-0.295,0.078-0.517,0.335-0.517,0.654c0,0.319,0.222,0.576,0.517,0.654v1.395c-0.384-0.032-0.738-0.163-1.033-0.377V9.008c0.296-0.214,0.649-0.345,1.033-0.377V10.026z M7.761,12.353c-0.296,0.214-0.649,0.345-1.033,0.377v-1.395C7.022,11.257,7.244,11,7.244,10.681c0-0.319-0.222-0.576-0.517-0.654V8.631c0.384,0.032,0.738,0.163,1.033,0.377V12.353zM8.105,12.035V9.327c0.318,0.363,0.517,0.833,0.517,1.354S8.423,11.671,8.105,12.035z M10,13.445l-1.378,0.689L10,12.756l1.378,1.378L10,13.445z M11.895,12.035c-0.318-0.364-0.517-0.833-0.517-1.354s0.199-0.991,0.517-1.354V12.035z M13.273,10.026c-0.295,0.078-0.517,0.335-0.517,0.654c0,0.319,0.222,0.576,0.517,0.654v1.395c-0.384-0.032-0.738-0.163-1.033-0.377V9.008c0.296-0.214,0.649-0.345,1.033-0.377V10.026z M14.651,12.353c-0.296,0.214-0.649,0.345-1.033,0.377v-1.395c0.295-0.078,0.517-0.335,0.517-0.654c0-0.319-0.222-0.576-0.517-0.654V8.631c0.384,0.032,0.738,0.163,1.033,0.377V12.353zM14.995,12.035V9.327c0.318,0.363,0.517,0.833,0.517,1.354S15.313,11.671,14.995,12.035z M19.646,9.656V8.278c0-0.189-0.155-0.344-0.344-0.344h-0.678c-1.163-5.413-5.12-6.96-7.246-7.402v1.052c2.269,0.525,6.545,2.469,6.545,9.675c0,0.188-0.031,4.561-2.264,7.01h2.608v-2.663c0.333-1.044,0.505-2.058,0.594-2.849h0.439c0.189,0,0.344-0.155,0.344-0.344v-1.378c0-0.189-0.155-0.344-0.344-0.344h-0.359c-0.007-0.235-0.017-0.465-0.033-0.689h0.392C19.491,10,19.646,9.845,19.646,9.656z"></path>
						</svg></figure>
            ¿Cómo funciona la venta por Facebook Messenger?
          </h2>
          <p class="common-IntroText">Cuando tu creas una página en Facebook para tu negocio personal, éste te permitirá responder a tus clientes por medio del chat Messenger®. Sin embargo, mientras más clientes tienes, más tiempo debes dedicar a ésta tarea. Con Botlers, podemos automatizar el proces de venta y <a class="common-Link" href="https://status.botlers.io/">cobrar de manera segura</a> a tus clientes. Es decir, un robot le responderá automáticamente a todos quiénes quieran comprar y les venderá.</p>
        </header>

        <ul class="xs-rows sm-grid md-rows lg-grid developers-features">
          <li class="feature-block">
              <p class="common-BodyText">
               Si te preguntas por los beneficios que tiene usar Botlers y conectarlo a tu Facebook Messenger. Aquí están las razones:</p>


          <figure class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><path fill="#87BBFD" d="M45 40H14a2 2 0 0 1-2-2V27.2h22.455V26H47v12a2 2 0 0 1-2 2zM34.455 17H45a2 2 0 0 1 2 2v2H34.455v-4z"></path><path fill="#6772E5" d="M34 31H3a2 2 0 0 1-2-2V10a2 2 0 0 1 2-2h31a2 2 0 0 1 2 2v19a2 2 0 0 1-2 2zM11 15a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3z"></path></svg></figure>
          <h3 class="common-BodyTitle">Cobro automático</h3>
          <p class="common-BodyText">Ahora podrás cobrar automáticamente a tus clientes con tarjeta de débito y crédito y todo desde el mismo Facebook Messenger®</p>


               <figure class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><path fill="#87BBFD" d="M4.01 17.68L4 14.5c0-2.32 1.727-2.94 3.74-3.566L32.803 3.13c1.762-.546 3.19.784 3.19 2.97v10.93l-31.982.65z"></path><path fill="#6772E5" d="M38 44H10a6 6 0 0 1-6-6V16h.003v-2.117S4.337 15.85 6.56 16H38a6 6 0 0 1 6 6v16a6 6 0 0 1-6 6zm-1.004-17a3 3 0 0 0-3.002 3 3 3 0 0 0 3.002 2.997A3 3 0 0 0 40 30a3 3 0 0 0-3.004-3z"></path></svg></figure>

          <h3 class="common-BodyTitle">¡Gana más!</h3>
          <p class="common-BodyText">Al contar con Botlers, éste te ayudará a responderle a todos tus clientes que te contacten por Messenger y le sabrá responder justo como tú lo harías para finalizar una venta.</p>

            </li>

            <li style="text-align:-webkit-center" class="feature-block">

                <img src="robot-azul.png">

                <p class="common-BodyText">
                <a class="common-Link" href="https://botlers.io/docs">Botlers</a>, es el primer robot que atenderá a tus clientes a través de Facebook Messenger y responderá tal como tú lo harías.</p>


            </li>




        <!--
        <li class="feature-block"><p class="common-BodyText">Versioned, <a class="common-Link" href="https://botlers.io/docs/upgrades">non-breaking API changes</a> let you upgrade on your company’s schedule without&nbsp;surprises.</p></li>
        <li class="feature-block"><p class="common-BodyText">Chat directly with our friendly engineers anytime if you need support. Find us in <a class="common-Link" href="http://freenode.net/">#Botlers on&nbsp;Freenode</a>.</p></li> -->

        </ul>

      </div>

        <!--
      <div class="developers-graphic">  ...      </div>  -->

    </div>
  </section>

  <section style="background-color:#0097ff" class="section-checkout" id="checkout">
    <div class="container-lg checkout-columns">

      <div class="checkout-graphic loaded">
        <figure style="background-image:url('chat_botlers_facebook_messenger.png'); background-size:cover" class="back">

            <!-- <img src=""> -->

          <!-- <a class="device" href="https://botlers.io/checkout">
            <div class="screenshot country-US"></div>
          </a> -->
        </figure>
        <figure class="front">
          <div class="screenshot country-US"></div>
        </figure>
      </div>

      <div class="checkout-content feature-block">
        <h3 class="common-BodyTitle">Funcionamos perfecto en Facebook Messenger</h3>
        <p class="common-BodyText">Tus clientes usan Facebook, ¿cierto?. Bueno, pues Botlers funciona justo con facebook Messenger. Es decir, tu representante de ventas virtual podrá conversar con tus clientes mediante facebook. </p>
        <p class="common-BodyText"><a class="common-Link common-Link common-Link--arrow" href="https://botlers.io/checkout">Solicitar más información</a></p>
      </div>

    </div>
  </section>

  <section class="section-otherways" id="otherways">
    <div class="container-lg otherways-columns">

      <div class="otherways-content">

        <div class="section-header">
          <h2 class="common-UppercaseTitle">Instálanos en tu sitio web de manera segura</h2>
        </div>

        <ul class="xs-rows md-cols">

          <li class="feature-block third-party">
            <div class="third-party-content">
              <h3 class="common-BodyTitle">Fácil de conectar</h3>
              <p class="common-BodyText">Al registrarte, podrás vender a través de Menssenger® de la manera más fácil.</p>

              <p class="common-BodyText"><a href="https://facebook.com/" class="common-Link common-Link common-Link--arrow">Conoce facebook messenger</a></p>
            </div>
            <!-- <p class="third-party-logos"><img src="./Nerds_Botlers__files/third-party-logos.svg"></p> -->
          </li>

          <li class="feature-block">
            <h3 class="common-BodyTitle">Difunte tu chat de ventas en tu sitio web</h3>
            <p class="common-BodyText">Agrega tu chat de Facebook Messenger a tu sitio web y aumenta el número de clientes.</p>
            <p class="common-BodyText"><a href="http://www.cupcakegallerymex.com" class="common-Link common-Link common-Link--arrow">Mira el primer caso de éxito: www.cupcakegallerymex.com</a></p>
          </li>

        </ul>

      </div>

      <div class="otherways-graphic">
        <figure class="graphic-platforms loaded">
          <div class="back shadow"></div>
            <img class="back site" src="cupcake_gallery_2.svg">
            <!-- <img class="back site" src="./Nerds_Botlers__files/back-site.svg"> -->

          <div class="front shadow"></div>
            <img class="front site" src="cupcake_gallery_1.svg">
        </figure>
      </div>

    </div>
  </section>

</div>

<!--
<div class="section-group group-business">
</div>
-->

    </div>

    <footer class="globalFooter withCards" >

  <section class="globalFooterCards" >
    <div class="container-xl">
        <a class="common-Link globalFooterCard card-subscriptions" href="http://nerds.ai" data-analytics-action="subscriptions" data-analytics-source="card_link">

            <svg class="svg-icon" viewBox="0 0 20 20">
							<path fill="#76E5A2" d="M5.109,8.392H4.249c-0.238,0-0.43,0.193-0.43,0.431c0,0.238,0.192,0.431,0.43,0.431h0.861c0.238,0,0.43-0.193,0.43-0.431C5.54,8.585,5.347,8.392,5.109,8.392 M4.249,4.088h11.19c0.238,0,0.431-0.192,0.431-0.43c0-0.238-0.192-0.431-0.431-0.431H4.249c-0.238,0-0.43,0.192-0.43,0.431C3.818,3.896,4.011,4.088,4.249,4.088 M2.527,5.81H17.16c0.238,0,0.431-0.192,0.431-0.43c0-0.238-0.192-0.431-0.431-0.431H2.527c-0.238,0-0.43,0.192-0.43,0.431C2.097,5.617,2.289,5.81,2.527,5.81 M18.452,6.67H1.236c-0.476,0-0.861,0.385-0.861,0.861v8.608c0,0.475,0.385,0.86,0.861,0.86h17.216c0.475,0,0.86-0.386,0.86-0.86V7.531C19.312,7.056,18.927,6.67,18.452,6.67 M1.666,7.531c0.238,0,0.431,0.192,0.431,0.431c0,0.238-0.192,0.43-0.431,0.43c-0.238,0-0.43-0.192-0.43-0.43C1.236,7.724,1.428,7.531,1.666,7.531 M1.666,16.14c-0.238,0-0.43-0.192-0.43-0.431c0-0.237,0.192-0.431,0.43-0.431c0.238,0,0.431,0.193,0.431,0.431C2.097,15.947,1.904,16.14,1.666,16.14 M18.021,16.14c-0.238,0-0.431-0.192-0.431-0.431c0-0.237,0.192-0.431,0.431-0.431s0.431,0.193,0.431,0.431C18.452,15.947,18.26,16.14,18.021,16.14 M18.452,14.496c-0.136-0.048-0.279-0.078-0.431-0.078c-0.714,0-1.291,0.578-1.291,1.291c0,0.151,0.03,0.295,0.078,0.431H2.878c0.048-0.136,0.079-0.279,0.079-0.431c0-0.713-0.579-1.291-1.292-1.291c-0.151,0-0.295,0.03-0.43,0.078V9.174c0.135,0.048,0.279,0.079,0.43,0.079c0.713,0,1.292-0.578,1.292-1.291c0-0.152-0.031-0.295-0.079-0.431h13.93C16.761,7.667,16.73,7.81,16.73,7.962c0,0.713,0.577,1.291,1.291,1.291c0.151,0,0.295-0.031,0.431-0.079V14.496z M18.021,8.392c-0.238,0-0.431-0.192-0.431-0.43c0-0.238,0.192-0.431,0.431-0.431s0.431,0.192,0.431,0.431C18.452,8.2,18.26,8.392,18.021,8.392 M15.438,14.418h-0.86c-0.238,0-0.431,0.192-0.431,0.43c0,0.238,0.192,0.431,0.431,0.431h0.86c0.238,0,0.431-0.192,0.431-0.431C15.869,14.61,15.677,14.418,15.438,14.418 M9.844,8.392c-1.901,0-3.443,1.542-3.443,3.443s1.542,3.443,3.443,3.443s3.443-1.542,3.443-3.443S11.745,8.392,9.844,8.392 M11.233,13.271c-0.071,0.162-0.169,0.297-0.292,0.403c-0.124,0.108-0.268,0.189-0.434,0.246c-0.166,0.058-0.295,0.089-0.488,0.097v0.4H9.673v-0.4c-0.208-0.004-0.35-0.037-0.522-0.099c-0.174-0.063-0.322-0.151-0.445-0.267s-0.219-0.257-0.286-0.424c-0.067-0.168-0.099-0.361-0.095-0.579h0.659c-0.003,0.256,0.052,0.459,0.168,0.608c0.115,0.147,0.257,0.226,0.522,0.233v-1.417c-0.158-0.042-0.265-0.094-0.422-0.154c-0.156-0.061-0.297-0.139-0.422-0.234c-0.125-0.095-0.226-0.215-0.303-0.36c-0.077-0.144-0.115-0.323-0.115-0.538c0-0.187,0.035-0.352,0.106-0.494c0.072-0.143,0.168-0.261,0.289-0.357c0.121-0.096,0.261-0.168,0.419-0.22C9.383,9.665,9.5,9.64,9.673,9.64V9.256h0.348V9.64c0.173,0,0.287,0.023,0.441,0.07c0.154,0.047,0.288,0.117,0.401,0.211c0.114,0.093,0.204,0.212,0.272,0.356c0.067,0.145,0.101,0.312,0.101,0.503h-0.659c-0.008-0.199-0.059-0.351-0.153-0.457c-0.095-0.105-0.197-0.158-0.404-0.158V11.4c0.173,0.048,0.293,0.103,0.459,0.165c0.166,0.062,0.312,0.142,0.439,0.239c0.127,0.098,0.229,0.219,0.306,0.363c0.077,0.144,0.116,0.321,0.116,0.532C11.341,12.919,11.305,13.109,11.233,13.271M10.458,12.332c-0.067-0.051-0.143-0.092-0.228-0.123c-0.085-0.031-0.123-0.06-0.21-0.082v1.363c0.208-0.016,0.329-0.076,0.462-0.185c0.133-0.107,0.199-0.277,0.199-0.512c0-0.109-0.02-0.2-0.061-0.275C10.581,12.444,10.526,12.383,10.458,12.332 M9.069,10.74c0,0.094,0.019,0.174,0.058,0.241c0.039,0.066,0.087,0.122,0.148,0.169c0.06,0.047,0.128,0.085,0.208,0.114s0.109,0.054,0.19,0.073v-1.171c-0.208,0-0.32,0.044-0.434,0.132C9.126,10.386,9.069,10.533,9.069,10.74"></path>
						</svg>


  <h2 class="common-Uppercase common-Link--arrow">Blog Comercio Conversacional</h2>
  <p class="common-BodyText">Visita nuestro blog de comercio conversacional para que conozcas más información de como vender más y mejor por internet.</p>
</a>

  <a class="common-Link globalFooterCard card-connect" href="http://nerds.ai" data-analytics-action="connect" data-analytics-source="card_link">
      <svg class="svg-icon" viewBox="0 0 20 20">
							<path fill="#69D5F8" d="M10.862,6.47H3.968v6.032h6.894V6.47z M10,11.641H4.83V7.332H10V11.641z M12.585,11.641h-0.861v0.861h0.861V11.641z M7.415,14.226h0.862v-0.862H7.415V14.226z M8.707,17.673h2.586c0.237,0,0.431-0.193,0.431-0.432c0-0.237-0.193-0.431-0.431-0.431H8.707c-0.237,0-0.431,0.193-0.431,0.431C8.276,17.479,8.47,17.673,8.707,17.673 M5.691,14.226h0.861v-0.862H5.691V14.226z M4.83,13.363H3.968v0.862H4.83V13.363z M16.895,4.746h-3.017V3.023h1.292c0.476,0,0.862-0.386,0.862-0.862V1.299c0-0.476-0.387-0.862-0.862-0.862H10c-0.476,0-0.862,0.386-0.862,0.862v0.862c0,0.476,0.386,0.862,0.862,0.862h1.293v1.723H3.106c-0.476,0-0.862,0.386-0.862,0.862v12.926c0,0.476,0.386,0.862,0.862,0.862h13.789c0.475,0,0.861-0.387,0.861-0.862V5.608C17.756,5.132,17.369,4.746,16.895,4.746 M10.862,2.161H10V1.299h0.862V2.161zM11.724,1.299h3.446v0.862h-3.446V1.299z M13.016,4.746h-0.861V3.023h0.861V4.746z M16.895,18.534H3.106v-2.585h13.789V18.534zM16.895,15.088H3.106v-9.48h13.789V15.088z M15.17,12.502h0.862v-0.861H15.17V12.502z M13.447,12.502h0.861v-0.861h-0.861V12.502zM15.17,10.778h0.862V9.917H15.17V10.778z M15.17,9.055h0.862V8.193H15.17V9.055z M16.032,6.47h-4.309v0.862h4.309V6.47zM14.309,8.193h-0.861v0.862h0.861V8.193z M12.585,8.193h-0.861v0.862h0.861V8.193z M13.447,14.226h2.585v-0.862h-2.585V14.226zM13.447,10.778h0.861V9.917h-0.861V10.778z M12.585,9.917h-0.861v0.861h0.861V9.917z"></path>
						</svg>

  <h2 class="common-Uppercase common-Link--arrow">Blog Inteligencia Artificial</h2>
  <p class="common-BodyText">Conoce el primer blog de Inteligencia Artificial en México y conoce los destinos de la tecnología que está revolucionando las industrias.</p>
</a>

    </div>
  </section>

    <article class="globalFooterCTA" id="contacto">
  <div class="container-lg">

    <div class="content">
      <h1 class="title">
        <span class="subtitle">¿Estás listo para empezar?</span>
        Integraremos tu negocio en minutos.
      </h1>
    </div>

    <div class="common-ButtonGroup buttons">

        <!-- <a class="common-Button common-Button--default" href="https://dashboard.botlers.io/register" data-analytics-action="sign_up" data-analytics-source="footer_cta">
          Crea una cuenta de BOTLERS
        </a> -->

      <a href="mailto:hola@nerds.ai" class="common-Button" data-analytics-action="contact_sales" data-analytics-source="footer_cta">
        Contáctanos
      </a>

    </div>

  </div>
</article>

  <article class="globalFooterNav">
  <div class="container-lg">

    <ul class="metaNav">

        <li class="select country">
          <a class="rootLink item-country">

              <!--
              <svg width="13" height="13"><path d="M1.543,7L6,7,5.979,11.462a0.536,0.536,0,0,0,1.016.24l4.941-9.931a0.537,0.537,0,0,0-.72-0.721L1.3,5.985A0.537,0.537,0,0,0,1.543,7Z"></path></svg>
                -->

Botlers powered by MIT</a>

        </li>

        <li class="select language">

        </li>

      <li class="space"></li>
      <li class="copyright">Artificial Nerds S.A.P.I. <br> Derechos Reservados © 2017</li>
    </ul>

    <div class="siteNav">
      <div class="column">
        <!-- <h4>Contacto</h4> -->

          <a href="http://www.mitec.com.mx">
            <img src="http://www.mitec.com.mx/mit/images/logo.png">
          </a>

        <!--
        <ul>
          <li><a href="mailto:hola@nerds.ai">Email</a></li>
        </ul>
          -->

      </div>
    </div>

  </div>
</article>

</footer>

    <script src="./Nerds_Botlers__files/config-aead70c07cdca45cec67e4141bf18edc.js"></script>

<script type="application/json" id="analytics_config">{&quot;mixpanel&quot;:{&quot;identifier&quot;:&quot;eb71b6171a4f7ed97de9b7a0395b7ca5&quot;},&quot;ga&quot;:{},&quot;trackpage&quot;:true}</script>



<script src="./Nerds_Botlers__files/analytics.min.js"></script>
<script src="./Nerds_Botlers__files/analytics-e800ab0ba76de2b697ea3f61c673695b.js"></script>
<script src="./Nerds_Botlers__files/m.js"></script>
<script src="./Nerds_Botlers__files/mirador_ping-6bba7d3d9fbb1e991b7f0f8fab43b2b1.js"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.4.2/js/iziModal.min.js"></script>

  <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBXz-u73l5lJyUrB6WNvkwA00uWKSvcZkU",
      authDomain: "cupcakes-8245c.firebaseapp.com",
      databaseURL: "https://cupcakes-8245c.firebaseio.com",
      storageBucket: "cupcakes-8245c.appspot.com",
      messagingSenderId: "80130720371"
    };
    firebase.initializeApp(config);
  </script>

  <script src="/js/app.js" charset="utf-8"></script>

    <script type="text/javascript">
      Analytics.configure({
        locale: 'en'
      });
      Analytics.viewed("payments");
    </script>

    <link type="text/css" rel="stylesheet" media="none" href="./Nerds_Botlers__files/1.css">

</body></html>
